.banner {
    position: relative;
}

.banner-position {
    background-image: url('./../../assets/banner.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.upper-banner {
    padding: 0 20%;
    background-color: #ff169e42;
    color: white;
    display: grid;
    gap: 100px;
}

.options {
    display: flex;
    gap: 10px;
    margin-top: auto;
}

.options p:first-child {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 15px;
    background-color: #d81581;
    border-radius: 3px 3px 0 0;
    border: 0;
    padding: 5px 15px;
    margin-bottom: auto;
}

.options p {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 15px;
    background-color: #ba4385;
    border-radius: 3px 3px 0 0;
    border: 0;
    padding: 5px 15px;
    margin-bottom: auto;
}