.lower-banner{
    display: grid;
    padding: 0 20%;
    background: linear-gradient(to right, #BD0067, #bd006892);
}
.lower-banner-head{
 display: flex;
 gap: 30px;
 color: white;
 align-items: center;
}
.lower-banner-head p:first-child{
    background-color: #e62790;
    padding: 5px 10px;
    border-radius: 3px;
}
.container{
    font-size: smaller;
    display: grid;
    gap: 3px;
    grid-template-columns: 2fr 1fr 1fr 2fr 1fr; 
    padding: 0 0 20px 0;
}
.container p{
    margin: 0;
}

.box2{
    grid-row:span 2;
    border-radius: 3px;
    background-color: white;
    padding: 10px 0 0 10px;
}
.box2-style{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}
.box2-style div:first-child{
    font-size: 20px;
}
.box2-style div:nth-child(2){
    display: grid;
    justify-content:start;
    align-items: center;
}
.box2-22{
    font-size: 20px;
    text-align: center;
}
.box3{
    grid-row:span 2;
    border-radius: 3px;
    background-color: white;
    padding: 10px 0 0 10px;
}
.box3 P:first-child{
    font-size: 20px;
}

.box5{
    grid-row:span 2;
    border-radius: 3px;
    display: grid;
    justify-items: center;
    align-content: center;
    background-color: #FF169D;
    color: white;
    padding: 10px;
}

.box5 p:first-child{
    font-size: 40px;
}

.common-box1{
    display: grid;
    align-content:center;
    border-radius: 3px;
    padding: 0 0 0 10px;
    background-color: white;
}

.plane span{
    color: #FF169D;
    font-size: 20px;
}

.plane p{
    display: flex;
    gap: 5px;
    align-items: center;
}