
.navbar{
    display: flex;
    align-items: center;
    background-color:#FF169D;
    justify-content: space-between;
    padding: 15px 20%;
}

.button{
    color:white;
    background-color: #BD0067;
    border-radius: 3px;
    border: 0;
    padding: 10px 15px;
}

@media only screen and (max-width:768px)
{
    .navbar{
        padding: 15px 5%;
    }
}